* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

.promo-section {
    height: auto;
    width: 100%;

}


.header {
    background-image: linear-gradient(#869991, #8da299);
    justify-content: space-between;
    align-items: center;
    height: 105px;
    display: flex;
}

nav {
    display: flex;
    margin-right: 5%;
}

.logo {
    margin-left: 5%;
}

.nav-list {
    align-items: center;
    display: flex;
    gap: 51px;

}

.nav-list-item {
    list-style: none;
    color: white;
}

.a-nav-list-item {
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;

}

.separated-a-nav-list-item {
    display: inline-block;
    text-align: center;
    list-style: none;
    color: white;
    height: 41px;
    width: 150px;
    background: transparent;
    border: 1px solid white;
    border-radius: 3px;
    margin-left: 67px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    padding-top: 9px;
}

.popup-checkbox {
    display: none;
    width: 150px;
    height: 41px;
}

.a-header-button-submit {
    margin-right: 6px;
    border-radius: 3px;
    padding: 12px 50px 12px 50px;
    background: rgb(40, 90, 67);
    border: none;
    cursor: pointer;
    font-weight: 700;
    color: white;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.204);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-checkbox:checked+.popup {
    display: flex;
}

.popup-content {
    background-image: url(/img/arto-suraj-X7jtnqyn54M-unsplash\ 1.png);
    width: 100%;
    height: 400px;
    position: relative;
    background-repeat: round;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#input-email {
    width: 475px;
    height: 48px;
    background-color: transparent;
    backdrop-filter: blur(5px);
    border: 1px solid white;
    border-radius: 5px;
    padding-left: 25px;
    color: white;
    margin-right: 25px;
}


.popup-content h2 {
    margin: 0 0 10px;
    color: white;
    font-size: 32px;
    font-weight: 600;
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 40px;
    color: #aaa;
    cursor: pointer;

}

.close-popup:hover {
    color: rgb(247, 31, 31);
}


.call-button {
    height: 41px;
    width: 150px;
    background: transparent;
    border: 1px solid white;
    border-radius: 3px;
    margin-left: 67px;
    cursor: pointer;
    font-weight: 700;
}

.popup-contact-checkbox {
    width: 150px;
    height: 41px;
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.204);
}

.contact-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.204);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.nav-contact {
    display: inline-block;
    text-align: center;
    list-style: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.contact-popup-content {
    background-color: whitesmoke;
    width: 50%;
    height: 30%;
    position: relative;
    background-repeat: round;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.contact-content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.contact-popup-content h2 {
    color: #869991;
    font-size: 35px;
    font-weight: 700;

}

.popup-contact-checkbox:checked~.contact-popup {
    display: flex;
}

a {
    text-decoration: none;
    color: inherit;
    background: none;
    outline: none;
}

.div-h2-about {
    height: 105px;
    background-image: linear-gradient(#8da299, #93b0a5);
}

.h2-gallery {
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: white;
}

.gallery {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

}

.our-gal-view {
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#93b0a5, #f8f8f8);
    width: 100%;
}

.h2-our-gallery {
    display: flex;
    justify-content: center;
    color: #285A43;
    font-size: 36px;
    margin-bottom: 40px;
    margin-top: 40px;

}

.div-images {
    justify-content: center;
    align-items: center;
    width: 1400px;

}

.images {
    display: flex;
    width: 100%;
    justify-content: space-between;
    justify-content: center;

}

.image:hover {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.399);

}

.right-imgs {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    margin: 0px 0px 0px 10px;
}

.l-image:hover {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.399);
}

.l-image {
    width: 30%;
    cursor: pointer;
    border-radius: 7px;
}

.image {
    cursor: pointer;
    width: 100%;
    height: auto;
    border-radius: 7px
}

.blog {
    display: flex;
    justify-content: space-around;
}

.div-h2-interesting {
    width: 100%;
}


.div-cards {
    border-radius: 7px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.299);
    display: flex;
    flex-direction: column;
    width: 380px;
    gap: 20px;
    justify-content: space-between;
    padding: 5px;
}

.img-cards {
    width: 360px;
    height: 332px;
    margin: 5px;
}

.div-card-header {
    display: flex;
    justify-content: baseline;
}

.h3-card-header {
    color: #285A43;
    font-size: 20px;
}

.read-more {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.p-read-more {
    color: #285A43;
    font-weight: 600;
    cursor: pointer;
}

.p-info {
    justify-content: center;
    align-items: center;
    width: 360px;
    font-size: 16px;
}


.footer {
    background-color: rgb(40, 90, 67);
    height: 374px;
    margin-top: 120px;
    padding-top: 75px;
    position: relative;
}

.div-footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.div-footer-contacts {
    font-size: 32px;
    color: white;
    font-weight: 700;
    text-align: center;
}

.div-footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 50px;
    height: 57px;
    width: 57px;
    margin: 36px;

}

.img-footer-icon {
    height: 32px;
    width: 32px;
}

.ul-footer {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 60px;
    color: white;
}

.div-footer-li {
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 700;
}

.a-ul-footer {
    color: white;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 39px;
    width: 100%;
    background-color: black;
    line-height: 150%;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    bottom: 0;

}


@media (max-width: 1400px) {
    .a-nav-list-item {
        font-size: 16px;
    }

    .separated-a-nav-list-item {
        height: 35px;
        width: 140px;
        font-size: 15px;
        font-weight: 600;
    }

    .nav-contact {
        font-size: 16px;
    }

    .contact-popup-content h2 {
        font-size: 30px;
        font-weight: 700;
    }

    .info {
        font-size: 14px;
    }

    .popup-content {
        flex-direction: column;
    }


    .div-h2-about {
        height: 100%;
        min-height: 80px;
    }

    .div-h2-empty {
        height: 100%;
        min-height: 80px;
    }

    .h2-gallery {
        font-size: 40px;
    }

    .h2-our-gallery {
        font-size: 30px;
    }

    .div-images {
        width: 90%;
    }

    .footer {
        margin-top: 10%;
        padding-top: 60px;
        position: relative;
    }

    .div-footer {
        height: 70%;
    }

    .div-footer-contacts {
        font-size: 28px;
        font-weight: 600;
    }

    .footer-icon {
        height: 50px;
        width: 50px;
        margin: 36px;
    }

    .copyright {
        height: 35px;
        font-size: 14px;
        font-weight: 700;

    }
}

@media (max-width:1150px) {
    .blog {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .div-cards {
        width: 80%;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .div-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 300px;
        justify-content: space-between;
        gap: 25px;
        text-align: center;
    }

    .h3-card-header {
        font-size: 27px;
    }

    .p-info {
        font-size: 20px;
    }

}

@media (max-width:980px) {

    .l-image {
        display: none;
    }

    .blog {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .div-cards {
        width: 80%;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .img-cards {
        width: 50%;
        height: 50%;
    }

    .div-content {

        width: auto;
        height: 100%;
        min-height: 300px;

    }

    .h3-card-header {
        font-size: 23px;
    }

    .p-info {
        font-size: 18px;
        width: 100%;
    }

}


@media (max-width: 880px) {

    .nav-list {
        gap: 30px;
    }

    .separated-a-nav-list-item {
        height: 35px;
        width: 130px;
        font-size: 14px;
        font-weight: 600;
    }

    .contact-popup-content h2 {
        font-size: 30px;
        font-weight: 700;
        text-align: center;
    }

    .contact-content {
        flex-direction: column;
    }

    .img-about-products {
        display: none;
    }

    .contact-popup-content {
        width: 60%;
        height: 40%;
    }

    .info {
        width: 80%;
        font-size: 13px;
        white-space: wrap;
        text-align: center;
    }

    .contact-popup-content h2 {
        font-size: 30px;
        font-weight: 700;
        text-align: center;
        padding-bottom: 7px;
    }

    .footer {
        margin-top: 10%;
        padding-top: 60px;
        position: relative;
        z-index: 0;
    }

}

@media (max-width: 680px) {

    .nav-list {
        gap: 10px;
        white-space: nowrap;
    }

    .separated-a-nav-list-item {
        width: 100px;
        margin-left: 10px;
    }

    .contact-popup-content h2 {
        font-size: 30px;
        font-weight: 700;
        text-align: center;
    }

    .email-button {
        width: 100%;
    }

    .popup-content {
        white-space: nowrap;
    }

    #input-email {
        width: 65%;
    }

    .footer {
        margin-top: 10%;
        padding-top: 60px;
        position: relative;
        z-index: 0;
    }

    .ul-footer {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 15%;
    }

    .div-footer-li {
        padding: 2px 0px 2px 0px;
    }
}

@media (max-width: 500px) {

    .nav-list {
        display: grid;
        grid-template-columns: auto auto;
        margin-right: 5%;
        white-space: nowrap;
    }

    .logo {
        height: 50px;
        width: 89px;
        padding: 2px;
    }

    .contact-content {
        flex-direction: column;
    }

    .email-button {
        flex-direction: flex;
        flex-direction: column;
        width: 100%;
    }

    .popup-content h2 {
        font-size: 25px;
        font-weight: 600;
    }

    .contact-popup-content {
        width: 50%;
        height: 30%;
    }

    .a-header-button-submit {
        padding: 12px 30px 12px 30px;
    }

    .info {
        width: 80%;
        font-size: 12px;
        white-space: wrap;
        text-align: start;
        font-weight: 500;
    }

    .contact-popup-content h2 {
        font-size: 20px;
        font-weight: 700;
        text-align: center;
    }

    .copyright {
        font-size: 10px;
        ;
    }
}


@media (max-width:350px) {

    .popup-content h2 {
        font-size: 20px;
        font-weight: 600;
    }

    .nav-contact {
        font-size: 12px;
    }

    .a-nav-list-item {
        font-size: 12px;
    }

    .a-header-button-submit {
        padding: 12px 20px 12px 20px;
    }
}