* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

.promo-section {
    height: auto;
    width: 100%;

}

.header {
    padding: 0 110px 0 110px;
    justify-content: space-between;
    align-items: center;
    height: 105px;
    display: flex;
    background-image: linear-gradient(#869991, #8da299);
}

nav {
    display: flex;
}

.nav-list {
    align-items: center;
    display: flex;
    gap: 51px;

}

.nav-list-item {
    list-style: none;
    color: white;
}

.a-nav-list-item {
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;

}

.separated-a-nav-list-item {
    display: inline-block;
    text-align: center;
    list-style: none;
    color: white;
    height: 41px;
    width: 150px;
    background: transparent;
    border: 1px solid white;
    border-radius: 3px;
    margin-left: 67px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    padding-top: 9px;
}

.popup-checkbox {
    display: none;
    width: 150px;
    height: 41px;
}

.a-header-button-submit {
    margin-right: 6px;
    border-radius: 3px;
    padding: 12px 50px 12px 50px;
    background: rgb(40, 90, 67);
    border: none;
    cursor: pointer;
    font-weight: 700;
    color: white;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.204);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-checkbox:checked+.popup {
    display: flex;
}

.popup-content {
    background-image: url(/img/arto-suraj-X7jtnqyn54M-unsplash\ 1.png);
    width: 100%;
    height: 400px;
    position: relative;
    background-repeat: round;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#input-email {
    width: 475px;
    height: 48px;
    background-color: transparent;
    backdrop-filter: blur(5px);
    border: 1px solid white;
    border-radius: 5px;
    padding-left: 25px;
    color: white;
    margin-right: 25px;
}


.popup-content h2 {
    margin: 0 0 10px;
    color: white;
    font-size: 32px;
    font-weight: 600;
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 40px;
    color: #aaa;
    cursor: pointer;

}

.close-popup:hover {
    color: rgb(247, 31, 31);
}


.call-button {
    height: 41px;
    width: 150px;
    background: transparent;
    border: 1px solid white;
    border-radius: 3px;
    margin-left: 67px;
    cursor: pointer;
    font-weight: 700;
}

.popup-contact-checkbox {
    width: 150px;
    height: 41px;
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.204);
}

.contact-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.204);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.nav-contact {
    display: inline-block;
    text-align: center;
    list-style: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.contact-popup-content {
    background-color: whitesmoke;
    width: 50%;
    height: 30%;
    position: relative;
    background-repeat: round;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.contact-content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.contact-popup-content h2 {
    color: #869991;
    font-size: 35px;
    font-weight: 700;

}

.popup-contact-checkbox:checked~.contact-popup {
    display: flex;
}

a {
    text-decoration: none;
    color: inherit;
    background: none;
    outline: none;
}

.div-h2-about {
    height: 105px;
    background-image: linear-gradient(#8da299, #93b0a5);
}

.h2-gallery {
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: white;
}

.gallery {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

}

.our-gal-view {
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#93b0a5, white);
    width: 100%;
}

.h2-our-gallery {
    display: flex;
    justify-content: center;
    color: #285A43;
    font-size: 36px;
    margin-bottom: 40px;
    margin-top: 40px;

}

.div-images {
    justify-content: center;
    align-items: center;
    width: 1400px;

}

.images {
    display: flex;
    width: 100%;
    justify-content: space-between;
    justify-content: center;

}

.image:hover {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.399);

}

.right-imgs {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    margin: 0px 0px 0px 10px;
}

.l-image:hover {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.399);
}

.l-image {
    width: auto;
    height: auto;
    cursor: pointer;
    border-radius: 7px;
}

.image {
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 7px
}

.blog {
    display: flex;
    justify-content: space-around;
}

.div-h2-interesting {
    width: 100%;
}


.div-cards {
    border-radius: 7px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.299);
    display: flex;
    flex-direction: column;
    width: 380px;
    gap: 20px;
    justify-content: space-between;
    padding: 5px;
}

.img-cards {
    width: 360px;
    height: 332px;
    margin: 5px;
}

.div-card-header {
    display: flex;
    justify-content: baseline;
}

.h3-card-header {
    color: #285A43;
    font-size: 20px;
}

.read-more {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.p-read-more {
    color: #285A43;
    font-weight: 600;
    cursor: pointer;
}

.p-info {
    justify-content: center;
    align-items: center;
    width: 360px;
    font-size: 16px;
}


.footer {
    background-color: rgb(40, 90, 67);
    height: 374px;
    margin-top: 120px;
    padding-top: 75px;
    position: relative;
}

.div-footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.div-footer-contacts {
    font-size: 32px;
    color: white;
    font-weight: 700;
    text-align: center;
}

.div-footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 50px;
    height: 57px;
    width: 57px;
    margin: 36px;

}

.img-footer-icon {
    height: 32px;
    width: 32px;
}

.ul-footer {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 60px;
    color: white;
}

.div-footer-li {
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 700;
}

.a-ul-footer {
    color: white;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 39px;
    width: 100%;
    background-color: black;
    line-height: 150%;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    bottom: 0;

}