* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

.promo-section {
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 758px;
    width: 100%;


}

.header {
    padding: 0 110px 0 110px;
    justify-content: space-between;
    align-items: center;
    height: 105px;
    display: flex;
}

nav {
    display: flex;
}

.nav-list {
    align-items: center;
    display: flex;
    gap: 51px;

}

.nav-list-item {
    list-style: none;
    color: white;
}

.a-nav-list-item {
    text-decoration: none;
    color: white;
}

.call-button {
    height: 41px;
    width: 150px;
    background: transparent;
    border: 1px solid white;
    border-radius: 3px;
    margin-left: 67px;
    cursor: pointer;
    font-weight: 700;
}

a {
    text-decoration: none;
}

.h1 {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 48px;
    margin-top: 100px;
}

.header-text {
    text-align: center;
    color: white;
    font-size: 18px;
    margin: 37px auto;
    width: 50%;
    height: 50px;
}

.div-header-buttons {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.a-header-button-book {
    margin-right: 6px;
    border-radius: 3px;
    padding: 12px 50px 12px 50px;
    background: rgb(40, 90, 67);
    border: none;
    cursor: pointer;
    font-weight: 700;
}



.header-button-vid {
    display: flex;
    border: white;
    width: 187px;
    height: 40px;
    margin-left: 6px;
    border-radius: 3px;
    border: 2px solid white;
    background: transparent;
    cursor: pointer;
}

.a-button-video {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
    font-weight: 700;
}

.header-button-vid-icon {
    height: 24px;
    width: 24px;
}

.s-about-plants {
    display: flex;
    justify-content: center;
    margin: 120px;
}

.div-about-plants {
    margin-top: 120px;
    display: flex;
    justify-content: center;
}

.h2-about-plants {
    color: rgb(40, 90, 67);
    width: 476px;
    height: 100px;
    font-size: 36px;
}

.p-about-plants {
    color: rgb(18, 18, 18);
    width: 648px;
    height: 108px;
    margin-left: 75px;
    font-size: 18px;
}

.types-of-plants {
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 100%;
    height: 380px;
    margin-top: 90px;
    margin-bottom: 120px;
}

.img-types-of-plant {
    margin-bottom: 10px;
    width: 126px;
    height: 126px;
}

.h2-plants {
    color: rgb(40, 90, 67);
    font-size: 20px;
}

.p-plants {
    color: rgb(18, 18, 18);
    font-size: 16px;
    margin-top: 20px;
    width: 259px;
    height: 72px;
}

.indoor-plants {
    width: 350px;
    padding: 0px 50px 50px 50px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.02);
}

.outdoor-plants {
    border: 2px solid rgb(51 122 91);
    border-radius: 10px;
    width: 350px;
    background-color: rgb(51 122 91);
    padding: 0px 50px 50px 50px;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.02);
}

.h2-outdoor-plants {
    color: white;
    font-size: 20px;
}

.p-outdoor-plants {
    color: white;
    font-size: 16px;
    margin-top: 20px;
}

.plants-pots {
    width: 350px;
    padding: 0px 50px 50px 50px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.02);
}

.div-what-we-offer {
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
}

.h2-what-we-offer {
    color: rgb(40, 90, 67);

}

.div-all-cactus-plants {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    gap: 25px;
}

.cactus-plant {
    border-radius: 10px;
    width: 280px;
    height: 314px;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.02);
    color: rgb(51, 122, 91);
    font-size: 16px;
}

.img-cactus-plant {
    width: 100%;
}

.a-button-cactus-plant {
    color: rgba(51, 122, 91);
    cursor: pointer;
    font-size: 12px;
    border: 1px solid rgba(51, 122, 91, 0.6);
    border-radius: 3px;
    transition-duration: 0.3s;
    padding: 8px 24px 8px 24px;
    font-weight: 900;
    margin-left: 35px;
    margin-right: 23px;

    
   

}

.a-button-cactus-plant:hover {
    color: white;
    background-color: rgba(51, 122, 91);
   
    
}


.p-cactus-plant{
    font-weight: 900;
    text-align: left;
    margin-left: 24px;
    margin-top: 10px;
   
 
}
.p-price{
font-size: 12px;
font-weight: 700;
margin-top: 5px;
margin-left: 24px;
margin-bottom: 10px;
width: 14px;
height: 17px;
}

.div-cactus-and-price{
    display: flex;
    grid-template-columns: auto auto;
    justify-content: baseline;
    align-items:center;

}